.conten{
  background-color: black;
  height: 650px;
  display: flex;

}

.content__text{
  width: 40% ;
  align-self: center;
  text-align: center;
}

.conten__start{
  width: 60%;
  align-self: center;
  text-align: center;
  
}
.parrafo{
  color: white;
  font-weight: 2px;
  text-transform: uppercase;
}

