.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #1C3643;
}

.Navbar__brand {
<<<<<<< HEAD
  color: white;

=======
  color: #ffffff;
>>>>>>> e78f17f0e6b96378620087cbbe4c0b198a05da9c
  display: flex;
  align-items: center;
}

.Navbar__brand:hover {
  color: #ffffff;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
}